.navBar {
    background-color: #161616;
    padding: calc(1rem + (1rem - 10px));

    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    position: sticky;
    top: 0;
    z-index: 10;
}

.navBarButton {
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
}

.navBarButton:hover {
    box-shadow: 0 0 0 1px var(--primary-color);
    border-radius: 10px;
    color: var(--primary-color);
}

.navBarSignOutButton:hover {
    box-shadow: 0 0 0 1px var(--secondary-color);
    color: var(--secondary-color);
}